/collector
/config.yaml
.env
/.drone/vendor

# Editor junk
*.sublime-workspace
*.swp
.idea/
.fleet/
*.iml
*.tmp
.DS_Store
.vscode/
.vs/

config/jenkins/builds
config/jenkins/war
config/jenkins/users
config/jenkins/plugins
config/jenkins/secrets
config/jenkins/updates
config/jenkins/.owner
config/jenkins/.lastStarted
config/jenkins/copy_reference_file.log
config/jenkins/identity.key.enc
config/jenkins/jenkins.install.InstallUtil.lastExecVersion
config/jenkins/jenkins.install.UpgradeWizard.state
config/jenkins/secret.key
config/jenkins/secret.key.not-so-secret