dist:
  name: grafana-ci-otelcol
  description: Grafana's OTel Collector distribution for CI/CD observability
  output_path: ./collector
  otelcol_version: 0.79.0
  version: 0.1.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/loggingexporter v0.79.0
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.79.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter v0.79.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/lokiexporter v0.79.0

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.79.0

extensions:

receivers:
  - gomod: 'github.com/grafana/grafana-collector/dronereceiver v0.1.0'
    import: 'github.com/grafana/grafana-collector/dronereceiver'
    name: 'dronereceiver'
    path: './pkg/dronereceiver'

replaces:
  - github.com/grafana/grafana-collector/dronereceiver => ../pkg/dronereceiver
  # This fixes an ambiguous require.
  - cloud.google.com/go => cloud.google.com/go v0.100.2
