dist:
  name: grafana-ci-otelcol
  description: Grafana's OTel Collector distribution for CI/CD observability
  output_path: ./collector
  otelcol_version: 0.96.0
  version: 0.1.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/loggingexporter v0.96.0
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.96.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusremotewriteexporter v0.96.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter v0.96.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/lokiexporter v0.96.0

connectors:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/connector/spanmetricsconnector v0.96.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/connector/routingconnector v0.96.0

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.96.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourceprocessor v0.96.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/attributesprocessor v0.96.0

extensions:
  # Used for basic auth in production deployments for grafana cloud.
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/basicauthextension v0.96.0

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.96.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/githubactionsreceiver v0.96.0
  - gomod: 'github.com/grafana/grafana-ci-otel-collector/dronereceiver v0.1.0'
    path: './pkg/dronereceiver'

replaces:
  - github.com/grafana/grafana-ci-otel-collector/dronereceiver => ../pkg/dronereceiver
  - github.com/grafana/grafana-ci-otel-collector/semconv => ../pkg/semconv
  - github.com/grafana/grafana-ci-otel-collector/traceutils => ../pkg/traceutils
  - github.com/open-telemetry/opentelemetry-collector-contrib/receiver/githubactionsreceiver => github.com/grafana/opentelemetry-collector-contrib/receiver/githubactionsreceiver 4077812c33
