dist:
  name: grafana-ci-otelcol
  description: Grafana's OTel Collector distribution for CI/CD observability
  output_path: ./build
  debug_compilation: false
  version: 0.1.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.141.0
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.141.0
  - gomod: go.opentelemetry.io/collector/exporter/otlphttpexporter v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusremotewriteexporter v0.141.0

connectors:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/connector/routingconnector v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/connector/spanmetricsconnector v0.141.0

processors:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/attributesprocessor v0.141.0
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourceprocessor v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/filterprocessor v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/transformprocessor v0.141.0

extensions:
  # Used for basic auth in production deployments for grafana cloud.
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/basicauthextension v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/pprofextension v0.141.0

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.141.0
  - gomod: github.com/grafana/grafana-ci-otel-collector/receiver/dronereceiver v0.1.0
  - gomod: github.com/grafana/grafana-ci-otel-collector/receiver/githubactionsreceiver v0.1.0

replaces:
  - github.com/grafana/grafana-ci-otel-collector/receiver/dronereceiver => ../receiver/dronereceiver
  - github.com/grafana/grafana-ci-otel-collector/receiver/githubactionsreceiver => ../receiver/githubactionsreceiver
  - github.com/grafana/grafana-ci-otel-collector/internal/semconv => ../internal/semconv
  - github.com/grafana/grafana-ci-otel-collector/internal/traceutils => ../internal/traceutils
  - github.com/grafana/grafana-ci-otel-collector/internal/sharedcomponent => ../internal/sharedcomponent
