version: '3'
services:
  tempo:
    image: grafana/tempo:latest
    command: ['-config.file=/etc/tempo.yaml']
    volumes:
      - ../config/tempo.yaml:/etc/tempo.yaml
    ports:
      - '3200:3200' # tempo
      - '4317:4317' # otlp grpc
  prometheus:
    image: prom/prometheus:latest
    ports:
      - 9090:9090
    volumes:
      - ../config/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--web.enable-lifecycle'
      - '--web.enable-remote-write-receiver'
      - '--config.file=/etc/prometheus/prometheus.yml'

  loki:
    image: grafana/loki:latest
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ../config/loki.yml:/etc/loki/loki-config.yaml
    ports:
      - '3100:3100'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://127.0.0.1:3100/ready']
      interval: 30s
      timeout: 10s
      retries: 5
